body{
    background: #fff;
    font-family: 'Mulish', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #353535;
    font-family: 'Jost', sans-serif;
    margin-top: 0;
}

.bg-color{
    background: #f9f9f9;
}

.main-title{
    text-align: center;
    max-width: 700px;
    margin: 0 auto 65px;
}

.main-title h1{
    font-size: 45px;
    font-weight: 600;
    margin:0 0 20px;
    color: #000;
}

.main-title h1 span{
    color: #95c41f;
}

.main-title p{
    margin-bottom: 0;
    font-size: 17px;
    color: #3c3b3b;
}

/** BTN 2 **/
.btn-2 {
    color: #fff;
    font-size: 16px;
    display: inline-block;
    position: relative;
    z-index: 5;
    transition: .9s ease;
    font-weight: 600;
    padding: 0 47px 0 25px;
    line-height: 46px;
    border-radius: 0;
}

.btn-2 span {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    z-index: 1;
}

.btn-2 .arrow {
    width: 13px;
    height: 2px;
    background: currentColor;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 25px;
}

.btn-2 .arrow:after {
    width: 8px;
    height: 8px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    content: "";
    position: absolute;
    top: -3px;
    right: 0;
    display: inline-block;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-2:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .9s ease;
    z-index: -1;
}

.btn-2:hover {
    background: transparent!important;
}

.btn-2:hover:before {
    width: 0;
    opacity: 1;
    visibility: visible;
}

.btn-2:hover:after {
    width: 0;
    opacity: 1;
    visibility: visible;
}

.btn-defaults{
    background: #95c41f;
    border: 2px solid #95c41f;
}

.btn-defaults:hover {
    color: #95c41f;
    border: 2px solid #95c41f;
}

.btn-defaults:before {
    background: #95c41f;
}

/** BTN 3 **/
.btn-3 {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-appearance: none;
    border: none;
    outline: none !important;
    background: #95c41f;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 12px 25px 11px;
    border-radius: 0;
    transition: all 0.3s linear;
    z-index: 1;
    overflow: hidden;
    float: right;
}

.btn-3 i::before {
    position: relative;
    font-size: 18px;
    top: 3px;
    padding-left: 5px;
}

.btn-3:hover {
    color: #95c41f;
}

.btn-3:hover:after {
    transform: perspective(200px) scaleX(1.05) rotateX(
            0deg
    ) translateZ(0);
    transition: transform 0.4s linear, transform 0.4s linear;
}

.btn-3:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    content: "";
    border-radius: 7px;
    transform: perspective(200px) scaleX(0.1) rotateX(
            90deg
    ) translateZ(-10px);
    transform-origin: bottom center;
    transition: transform 0.4s linear, transform 0.4s linear;
    z-index: -1;
}

.logo{
    text-align: left;
}

.headar-inner{
    margin:0 15px;
}

.logo img{
    height: 45px;
}

/** Demo item **/
.demo-item {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    background: #fff;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 60px;
}

.demo-item:hover .demo-item-content {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.demo-item h4{
    padding: 20px 25px!important;
    width: 100% !important;
    margin-bottom: 0;
    border-top: 1px solid #0b0b0b14;
    font-size: 17px;
    font-weight: 500;
    color: #000;
    text-align: left;
    font-family: 'Mulish', sans-serif;
}

.demo-item h4 i {
    float: right;
    font-weight: 400;
    font-size: 20px;
}

.demo-item .demo-item-content {
    position: absolute;
    text-align: center;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    transition: .5s;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: rgb(33 9 90 / 72%);
}

.demo-item:hover .demo-item-inner {
    top: 50%;
}

.demo-item .demo-item-inner {
    border: none;
    position: absolute;
    top: -100px;
    left: 30px;
    right: 30px;
    z-index: 9;
    transition: .5s;
    text-align: center;
    transform: translateY(-50%);
}

.demo-item .icon i{
    width: 70px!important;
    height: 70px!important;
    text-align: center;
    color: #fff;
    font-size: 30px;
    padding: 21px 20px 11px;
    border: solid 2px #95c41f;
    background: #95c41f;
    line-height: normal;
    border-radius: 100%;
}

.demo-item .icon i:hover{
    border: solid 2px #fff;
    background: #fff;
    color: #95c41f;
}

.demo-item:hover h4{
    color: #95c41f;
}

.demo-item:hover .thumb-photo img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.demo-item .thumb-photo img {
    display: block;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 100%;
}

.demo-item .thumb-photo {
    overflow: hidden;
    position: relative;
}

.demo-item .demo-item-inner h3 {
    margin: 0;
    text-transform: capitalize;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
}

.demo-item .demo-item-inner p {
    color: #454545;
    line-height: 1;
    margin: 5px 0 0;
}

/** Tab box **/
.tab-box{
    text-align: center;
}

 .nav-pills .nav-link {
    padding: 7px 22px;
    background: rgba(231, 13, 60, 0.05);
    color: #222222;
    margin: 2px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    display: inline-block;
}

.tab-box .nav-item{
    display: inline-block;
}

.tab-box .nav-pills{
    text-align: center;
    display: inline-block;
    margin-bottom: 65px;
}

.tab-box .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background: #95c41f;
}

.nav-pills .nav-link:hover{
    color: #fff;
    background: #95c41f;
}

/** OVERVIEW BGI **/
.overview-bgi {
    position: relative;
}

.overview-bgi:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.pad-tb-100-50{
    padding: 130px 0 70px;
}

.pad-tb-100-50 .container{
     max-width: 1625px;
}

a {
    cursor: pointer;
    text-decoration: none !important;
}

html {
    scroll-behavior: smooth;
}

.banner {
    background: rgba(0, 0, 0, 0.04) url(../img/img-4.jpg) top left repeat;
    background-size: cover;
    height: 700px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.banner:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(3 0 167 / 68%);
}

.banner .breadcrumb-area {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
}

.banner .container {
    max-width: 1625px;
}

.banner h1{
    font-size: 50px;
    margin-bottom: 30px;
    color: #fff;
}

.headar{
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
}

.demo-hero-menu{
    margin-bottom: 40px;
}

.demo-hero-menu ul {
    padding: 0;
    margin: 0;
}

.demo-hero-menu ul li {
    display: inline-block;
    margin-right: 15px;
    position: relative;
    color: #fff;
    font-size: 17px;
}

.demo-hero-menu ul li:last-child {
    margin-right: 0;
}

.footer{
    background-color: #000000;
    padding: 100px 0;
    text-align: center;
}

.footer .logo2 img{
    text-align: center!important;
    margin-bottom: 20px;
    height: 50px;
}

.footer.footer p {
    color: #bababa;
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
}

footer.footer p a {
    color: #bababa;
}

.footer.footer .social-list-2 ul{
    padding: 0;
    margin: 0;
}

.footer.footer .social-list-2 li {
    display: inline-block;
    font-size: 16px;
    text-align: center;
}

.footer.footer .social-list-2 li a {
    margin: 0 2px;
    color: #000;
    width: 45px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    border-radius: 0;
    background: #fff;
}

.footer.footer .social-list-2 li a:hover{
    color: #fff;
    background: #95c41f;
}

@media (max-width: 1200px) {
    .demo-item {
        margin-right: 0;
        margin-left: 0;
    }

    .banner {
        height: 700px;
    }
}

@media (max-width: 992px) {
    .pad-tb-100-50{
        padding: 105px 0 60px;
    }

    .headar-inner {
        margin: 0;
    }

    .demo-item {
        margin-bottom: 45px;
    }

    .main-title h1 {
        font-size: 35px;
    }

    .main-title p {
        font-size: 16px;
    }

    .banner {
        height: 600px;
    }

    .banner h1 {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .demo-hero-menu {
        margin-bottom: 25px;
    }

    .footer{
        padding: 70px 0;
    }

    .banner {
        text-align: center;
        padding: 100px 0;
    }

    .main-title {
        margin: 0 auto 52.5px;
    }

    .tab-box .nav-pills {
        margin: 0 auto 52.5px;
    }

    .nav-pills .nav-link {
        padding: 6px 20px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .pad-tb-100-50{
        padding: 80px 0 50px;
    }

    .btn-3 {
        font-size: 15px;
        font-weight: 500;
        text-transform: capitalize;
        padding: 11px 18px 11px;
        margin-top: 3px;
    }

    .main-title {
        margin: 0 auto 40px;
    }

    .tab-box .nav-pills {
        margin: 0 auto 40px;
    }

    .demo-item {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 30px;
    }

    .main-title h1 {
        font-size: 28px;
    }

    .banner {
        height: 500px;
    }

    .banner h1 {
        font-size: 28px;
    }

    .demo-hero-menu ul li {
        margin-right: 20px;
        font-size: 16px;
    }
}
